#filterText{
  color: grey;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

#filters{
  margin-top: 20px;
}

#dropdownFilters {
  display: inline-block;
}
.dropdownFilter {
  margin-left: 10px;
  margin-left: 40px;
  float: left;

  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("../images/dropdownarrow.svg") no-repeat 90% 50%;
  background-size: 10px;
}

.dropdownFilter select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}
.dropdownFilter select:focus {
    outline: none;
}

#nutritionFilters {
  display: inline-block;
}
.nutritionFilter {
  display: inline-block;
  margin-left: 10px;
  margin-left: 40px;
  float: left;
}

#nutritionFilterText{
  float: left;
}

.nutritionFilterInput{
  width: 50px;
  position: relative;
  margin-left: 10px;

}

#sugarFilter {
  margin-top: 15%;
}
#fatFilter {
  margin-top: 15%;
}
#caloriesFilter {
  margin-top: 13%;
}

#applyFiltersButton{
  position: absolute;
  right:10%;
  top: 200px;
  height: 40px;
  border-radius: 10px;
}


#lineAfterFilters-container {
  padding-top: 50px;
  width: 100%;
  height:10px;
}
#lineAfterFilters{
  width: 50%;
  margin: 0 auto;
  width: 400px;
  border-top: 1px grey solid;
}





#resultList{
  padding: 0;
  list-style-type: none;
}

#resultList li {
  display: inline;
  float: left;
  margin: 10px;
}

#resultItem {
  width: 240px;
  height: 280px;
  border: 1px black solid;
  position: relative;
}

#resultImage {
  width: 100%;
  height: auto;
}


#resultItem #resultTitle {
  position: absolute;
}
